 .dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: Arial, sans-serif;
  background-color: #f9fafb;
}


