.admin-topbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa; /* light gray */
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admin-welcome {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937; /* dark text */
}

h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  color: black;
    
}
